.section2 {
    margin-top: 50px;
    background-color: rgb(10, 10, 10);
    border-top: 1px solid rgb(0, 255, 0);
    border-bottom: 1px solid rgb(0, 255, 0);
    align-items: center;
}

.section2-aboutme {
    padding: 50px 0;
}

.section2-aboutme h3 {
    margin-bottom: 1rem;
    font-weight: bold;
}

.section2-aboutme p {
    width: calc(100% - 350px);
}