.section4 {
    margin-top: 50px;
}

.hobbies {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hobby {
    width: 150px;
    height: 150px;
    padding: 10px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: width 0.25s, height 0.25s;
}

.hobby:hover {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 255, 0);
}

.hobby img {
    width: 30px;
    margin-bottom: 10px;
}

.hobby p {
    font-weight: bold;
}