.section3 {
    margin-top: 50px;
}

.skills {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.skill {
    width: 150px;
    height: 150px;
    padding: 10px;
    background: rgb(38, 38, 38);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: width 0.25s, height 0.25s;
}

.skill:hover {
    width: 200px;
    height: 200px;
    border: 1px solid rgb(0, 255, 0);
}

.skill img {
    width: 30px;
    margin-bottom: 10px;
}

.skill p {
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .skills {
        height: 350px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .skills {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .skill {
        width: 100vw;
        height: 50px;
        padding: 10px 0;
        border-radius: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .skill:hover {
        height: 50px;
    }
}